[*]
brace_style=end_of_line
insert_final_newline=true
new_line_before_else=true
new_line_before_catch=true
simple_embedded_statement_style=on_single_line
function_definition_return_type_style=on_single_line
toplevel_function_definition_return_type_style=on_single_line
keep_user_linebreaks=false
max_line_length=140
cpp_space_pointer_reference_alignment=left